{% extends "base_menu.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<style>
    @media screen and (max-width: 750px){
        .custom-media{
            width:100%;
        }
    }
</style>
{% endblock %}

{% block content %}

<!-- Title of the Ad -->
<div class="center-align">
    <h2>{{ ad.title }}</h2>
</div>

<!-- Updated At -->
<div class="center-align">
    {% if ad.owner == user %}
    <a  href="{% url 'Ads:ad_update' ad.id %}" 
        class="btn-floating orange">
        <i class="material-icons right">edit</i>
    </a>
    <span style="margin: 0 15px;">Updated {{ ad.updated_at|naturaltime }}</span>
    <a  href="{% url 'Ads:ad_delete' ad.id %}" 
        class=" btn-floating red">
        <i class="material-icons left">delete</i>
    </a>
    {% else %}
    <a  href="{% url 'Ads:ad_update' ad.id %}" 
        class="btn-floating orange disabled">
        <i class="material-icons right">edit</i>
    </a>
    <span style="margin: 0 15px;">Updated {{ ad.updated_at|naturaltime }}</span>
    <a  href="{% url 'Ads:ad_delete' ad.id %}" 
        class="btn-floating red disabled ">
        <i class="material-icons left">delete</i>
    </a>
    {% endif %}
</div>

<!-- Divider Line -->
<div class="divider custom-margin"></div>

<!-- Ad's Image -->
<div class="custom-margin">
    {% if ad.content_type %}
        <img 
            src="{% url 'Ads:ad_picture' ad.id %}"
            class="responsive-img z-depth-2 materialboxed custom-margin"
        >
    {% endif %}

    <!-- Ad's Description -->
    <div class="white card custom-padding custom-margin">
        <div class="card-content">
            <p>
                {{ ad.text }}
            </p>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="left col s12 m12 l6">
                    <p  class="btn-large  disabled custom-disabled left custom-media"
                        style="background-color:#64b5f6 !important; color: white !important; text-transform: None;">
                        Price: ₹{{ad.price}}
                    </p>
                </div>
                <div class="right col s12 m12 l6">
                <p  class="btn-large disabled right custom-media" 
                        style="background-color:#64b5f6 !important; color: white !important; text-transform: None;">
                        Category: {{ ad.category.get_name_display }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="left col s12 m12 l6 center">
                    <p class="btn-large disabled custom-disabled custom-media" style="background-color:#64b5f6 !important; color: white !important; text-transform: None;">
                        Posted By: {{ ad.owner|capfirst }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% if user.is_authenticated %}
<p>
    {% load crispy_forms_tags %}
<form method="post" action="{% url 'Ads:ad_comment_create' ad.id %}" autocomplete="off">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="All Ads" onclick="window.location.href='{% url 'Ads:all' %}';return false;">
</form>
</p>
{% endif %}

{% for comment in comments %}
<p> {{ comment.text }}
    ({{ comment.updated_at|naturaltime }})
    {% if user == comment.owner %}
    <a href="{% url 'Ads:ad_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
</p>
{% endfor %}

{% endblock %}