{% extends "base_menu.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<style>
    @media screen and (max-width: 750px){
        .custom-media{
            width:100%;
        }
    }
</style>
{% endblock %}

{% block content %}

<!-- Title of the Ad -->
<div class="center-align">
    <h2>{{ ad.title }}</h2>
</div>

<!-- Updated At -->
<div class="center-align">
    {% if ad.owner == user %}
    <a  href="{% url 'Ads:ad_update' ad.id %}" 
        class="btn-floating orange tooltipped" data-position="top" data-tooltip="Edit">
        <i class="material-icons right">edit</i>
    </a>
    <span style="margin: 0 15px;">Updated {{ ad.updated_at|naturaltime }}</span>
    <a  href="{% url 'Ads:ad_delete' ad.id %}" 
        class=" btn-floating red tooltipped" data-position="top" data-tooltip="Delete">
        <i class="material-icons left">delete</i>
    </a>
    {% else %}
    <a  href="{% url 'Ads:ad_update' ad.id %}" 
        class="btn-floating orange disabled">
        <i class="material-icons right">edit</i>
    </a>
    <span style="margin: 0 15px;">Updated {{ ad.updated_at|naturaltime }}</span>
    <a  href="{% url 'Ads:ad_delete' ad.id %}" 
        class="btn-floating red disabled ">
        <i class="material-icons left">delete</i>
    </a>
    {% endif %}
</div>

<!-- Divider Line -->
<div class="divider custom-margin"></div>

<!-- Description and Image of Ad -->
<div class="custom-margin">
    {% if ad.content_type %}
    <!-- Ad's Image -->
        <img 
            src="{% url 'Ads:ad_picture' ad.id %}"
            class="responsive-img z-depth-2 materialboxed custom-margin"
        >
    {% endif %}

    <!-- Ad's Description -->
    <div class="white card custom-padding custom-margin">
        <div class="card-content">
            <p>
                {{ ad.text }}
            </p>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="left col s12 m12 l6">
                    <p  class="btn-large  disabled custom-disabled left custom-media"
                        style="background-color:#64b5f6 !important; color: white !important; text-transform: None;">
                        Price: ₹{{ad.price}}
                    </p>
                </div>
                <div class="right col s12 m12 l6">
                <p  class="btn-large disabled right custom-media" 
                        style="background-color:#64b5f6 !important; color: white !important; text-transform: None;">
                        Category: {{ ad.category.get_name_display }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="left col s12 m12 l6 center">
                    <p class="btn-large disabled custom-disabled custom-media" style="background-color:#64b5f6 !important; color: white !important; text-transform: None;">
                        Posted By: {{ ad.owner|capfirst }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comment Area -->
<div>
    {% if user.is_authenticated %}
    <div>
        {% load crispy_forms_tags %}
        <form   method="post" 
                action="{% url 'Ads:ad_comment_create' ad.id %}" 
                autocomplete="off">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <div class="row">
                <div class="col s12 m12 l6">
                    <button 
                            class="btn left grey darken-3 white-text col s12 m12 l12 waves-effect waves-light"
                            style="border:none; background: none; cursor: pointer;" type="submit" value="All Ads"
                            onclick="window.location.href='{% url 'Ads:all' %}';return false;">
                            <i class="material-icons left">home</i>
                            Home
                    </button>
                </div>
                <div class="col s12 m12 l6">
                    <button 
                            class="btn left grey darken-3 white-text col 
                            s12 m12 l12 waves-effect waves-light"
                            style="border:none; background: none; cursor: pointer;" 
                            type="submit" value="Submit">
                            Comment
                            <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>

<div>
{% for comment in comments %}
<p> {{ comment.text }}
    ({{ comment.updated_at|naturaltime }})
    {% if user == comment.owner %}
    <a href="{% url 'Ads:ad_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
</p>
{% endfor %}
</div>
{% endblock %}