{% extends "base_menu.html" %}
{% load static %}

{% block head %}
<style>
    .custom-div {
        margin: 30%;
    }
    @media screen and (max-width: 376px){
        .custom-res{
            width: 100%;
            margin:  2vh 0;
        }
    }
</style>
{% endblock %}


{% block content %}
<div style="margin-top: 20px;" >
    <form autocomplete="off" class="row">
        <div class="input-field col s10 m10 l10">
            <i class="material-icons black-text prefix">search</i>
            <input 
                type="text" 
                name="search" 
                style="border-bottom: 1px solid black;"
                id="search"
                class="black-text"
                {% if search %} 
                    value="{{ search }}" 
                {% endif %}>
            <label class="black-text" for="search">Search</label>
        </div>
        <div>
            <button class="btn-floating btn-large white z-depth-1 hide"
            style="border:none; background: none; padding: 0; cursor: pointer;" 
            type="submit">
            <i class="material-icons black-text">search</i>
            </button>
            <button 
                class="btn-large  grey darken-3 center white-text waves-effect waves-light custom-btn"               
                type="submit">
                Search
            </button>
        </div>
    </form>
</div>

<h2 style="text-align: center;color: rgb(59, 57, 57)">Featured Ads</h2>

{% if ad_list %}
<div class="row">
    <ul style="width: 100%;">
        {% for ad in ad_list %}
        <li>
            <div class="col s12 m12 l6">
                <div class="card hoverable pointer">
                    <div class="card-content">
                        <a href="{% url 'Ads:ad_detail'  ad.id %}">
                            <span class="card-title">
                                {{ ad.title | truncatechars:30 }}
                            </span>
                        </a>
                        <p style="margin:10px 0px">
                            {{ ad.text|truncatewords:20 }}
                        </p>
                        <p class="center-align" style="margin-bottom: 10px;">
                            <a  href="#"
                                style="background-color:#64b5f6 !important; color: white !important;"
                                class="btn-small disabled">
                                Category: {{ ad.category.get_name_display }}
                            </a>
                        </p>
                        <div class="card-action">
                        {% if ad.owner == user %}
                                <a  href="{% url 'Ads:ad_update' ad.id %}" 
                                    class="btn-small orange custom-res">
                                    <span>Edit</span>
                                    <i class="material-icons right">edit</i>
                                </a> 
                                <a  href="{% url 'Ads:ad_delete' ad.id %}" 
                                    class="btn-small red right custom-res">
                                    <span>Delete</span>
                                    <i class="material-icons left">delete</i>
                                </a>
                            {% else %}
                                <a  href="{% url 'Ads:ad_update' ad.id %}" 
                                    class="btn-small orange disabled custom-res">
                                    <span>Edit</span>
                                    <i class="material-icons right">edit</i>
                                </a>
                                <a  href="{% url 'Ads:ad_delete' ad.id %}" 
                                    class="btn-small red disabled right custom-res">
                                    <span>Delete</span>
                                    <i class="material-icons left">delete</i>
                                </a>
                            {% endif %}
                            <div class="center" style="margin:15px 10px 0 10px">
                            {% if user.is_authenticated %}
                                <!-- Remove from Favorites -->
                                <a  href="#" 
                                    class="btn-floating red btn-small z-depth-2"
                                    onclick="favPost('{% url   'Ads:ad_unfavorite'   ad.id %}', {{ ad.id }} );return false;" 
                                    {% if ad.id not in favorites %}         
                                        style="display: none;" 
                                    {% endif %} 
                                    id="favorite_star_{{ad.id}}">
                                    <i class="material-icons white-text">
                                        favorite
                                    </i>
                                </a>
                                <!-- Add to Favorites -->
                                <a  href="#" 
                                    class="btn-floating red btn-small z-depth-2"
                                    onclick="favPost('{% url     'Ads:ad_favorite'   ad.id %}', {{ ad.id }} );return false;" 
                                    {% if ad.id in favorites %} 
                                        style="display: none;" 
                                    {% endif %} 
                                    id="unfavorite_star_{{ad.id}}">
                                    <i class="material-icons white-text">
                                        favorite_border
                                    </i>
                                </a>
                            {% endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="center-align">
    <h5 class="black-text">
        Your Search did not Match Any of the Ads 
        <div class="center"
            style="margin: 30px;">
            <a href="{% url 'Ads:all' %}" class="btn-large blue lighten-2 white-text waves-effect waves-light custom-font">
                Go Back
            </a>
        </div>
    </h5>
    <div class="custom-div"></div>
</div>
{% endif %}


<div class="row">
    <a  href="{% url 'Ads:ad_create' %}"
        class="btn-large  blue lighten-2 center white-text waves-effect waves-light col s12 m12 l5"
        style="margin-right:20px;">
        Create Ad
    </a> 
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'Ads:all' %}"
        class="btn-large  blue lighten-2 white-text waves-effect waves-light col s12 m12 l5">
        Logout
    </a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'Ads:all' %}"
        class="btn-large  blue lighten-2 white-text waves-effect waves-light col s12 m12 l5">
        Login
    </a>
    {% endif %}
</div>

<script>
    function favPost(url, ad_id) {
        $.post(url, {}, function (rowz) {
            $("#unfavorite_star_" + ad_id).toggle();
            $("#favorite_star_" + ad_id).toggle();
        }).fail(function (xhr) {
            alert('Url failed with ' + xhr.status + ' ' + url);
        });
    }
</script>
{% endblock %}

{% block pagination %}
{% if ad_list.has_other_pages %}
<div class="middle">
    <ul class="pagination custom-margin-paginate">
        <li>
            {% if ad_list.has_previous %}
            <a href="{{ request.path }}?page={{ ad_list.previous_page_number }}">
                <i class="material-icons left">chevron_left</i>
            </a>
            {% else %}
            <a class="disabled">
                <i class="material-icons left">chevron_left</i>
            </a>
            {% endif %}
        </li>
        {% for i in ad_list.paginator.page_range %}
            {% if ad_list.number == i %}
                <li class="active grey darken-2">
                    <a href="{{ request.get_full_path }}">{{ i }}</a>
                </li>    
                {% else %}
                <li>
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li>
            {% if ad_list.has_next %}
            <a href="{{ request.path }}?page={{ ad_list.next_page_number }}">
                <i class="material-icons right">chevron_right</i>
            </a>
            {% else %}
            <a class="disabled">
                <i class="material-icons right">chevron_right</i>
            </a>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}